<template>
    <require from="aurelia-kendoui-bridge/listview/listview"></require>
    <require from="aurelia-kendoui-bridge/common/template"></require>
    <require from="aurelia-kendoui-bridge/splitter/splitter"></require>
    <require from="./resources/converters/DateFormatValueConverter"></require>
    <require from="./resources/converters/BoolToColorValueConverter"></require>
    <require from="./resources/css/app.css"></require>

    <div id="root-panel">
        <!--<require from="./basic-use.css!css"></require>-->
        <div id="rows" ak-splitter="k-orientation: vertical; k-panes.bind: vericalRows">
            <div id="header">
                <div class="pane-content">
                    <h1 align="center" style="color: black">unimatrix zero</h1>
                    <hr />
                    <label style="color: black; margin-right: 5px"><b>Listen address:</b></label>
                    <span class="k-textbox k-space-left" style="width: 25%;">
                        <input id="urlTextString" type="text" value.bind="url" style="width: 200px" />
                    </span>
                    <button class="k-button" type="button" click.delegate="startNeighbor()"><b>Start listener</b></button>
                    <span style="margin-left: 20px; color: palevioletred; margin-right: 5px">Listener port: </span>
                    <span class="k-textbox k-space-left" style="width: 25%;">
                        <input type="number" value.bind="curNeighborId" style="width: 200px" />
                    </span>
                    <button class="k-button" type="button" click.delegate="stopNeighbor()"><b>Stop listener</b></button>
                    <hr />
                    <label style="font-size: 20px; color: mediumseagreen"><b>Query tag:</b></label>
                    <span class="k-textbox k-space-right" style="width: 25%;">
                        <input value.bind="tagQuery" type="text" id="icon-left" />
                        <a class="k-icon k-i-search">&nbsp;</a>
                    </span>
                </div>
            </div>
            <div id="main-panel">
                <div class="pane-content">
                    <ak-list-view style="" k-data-source.bind="logs">
                        <ak-template>
                            <div><pre>${timestamp | dateFormat} - [${address}] : tag=[${tag}] : hash=[...<span style.bind="color">${hash.substring(hash.length-10,hash.length)}</span>|<b>${pow.toString().padStart(2)}:${fakePow.toString().padStart(2)}</b>] :value= ${value/1000000} mi</pre></div>
                        </ak-template>
                    </ak-list-view>
                </div>
            </div>

            <div id="footer">
                <div style="margin-top: 8px">
                    <pre style="color: black">${message}</pre>
                </div>
            </div>
            <!--<div ref="pager" class="k-pager-wrap"></div>-->
            <!--<ak-list-view ref="logView" k-data-source.bind="dataSource" view-model.ref="listview">
                <ak-template>
                    <span class="logrow">log : ${logMsg}</span>
                </ak-template>
            </ak-list-view>-->
            <!--<div id="logView" class="logwindow" data-role="view" data-stretch="true">
                <ak-list-view ref="logView" k-data-source.bind="logs">
                    <ak-template>
                        <div class="logrow"><pre class="pre">log : ${logMsg}</pre></div>
                    </ak-template>
                </ak-list-view>
            </div>-->

        </div>
    </div>

</template>
